<div class="routes-banner text-center">
    <h2>Routes > Hiking > Expert</h2>
    <div class="container d-flex justify-content-center">
        <form class="search-filter d-flex">
            <div class="form-floating col-4">
                <input class="form-control" placeholder="Zermatt" id="location"></input>
                <label for="location">Location</label>
            </div>
            <div class="form-floating col-3">
                <select class="form-select" id="floatingSelect">
                    <option value="all">All</option>
                    <option value="hiking">Hiking</option>
                    <option value="mountaineering">Mountaineering</option>
                    <option value="climbing">Climbing</option>
                    <option value="mtb">Mountain biking</option>
                </select>
                <label for="floatingSelect">Sport</label>
            </div>
            <div class="form-floating col-2">
                <select class="form-select" id="floatingSelect">
                    <option value="all">All</option>
                    <option value="hiking">Easy</option>
                    <option value="mountaineering">Medium</option>
                    <option value="climbing">Hard</option>
                    <option value="mtb">Expert</option>
                </select>
                <label for="floatingSelect">Difficulty</label>
            </div>
            <button type="submit" class="btn btn-dark col-2" style="height: 58px;">Search</button>
        </form>
    </div>
</div>

<div class="container" style="margin-top: 150px; margin-bottom: 150px;">
    <div class="routes-container d-flex justify-content-between flex-wrap">
        <div class="card h-100">
            <div class="img card-img"
                style="background-image: url('https://media.steinmanndli.ch/wp-content/uploads/2014/09/12205420/DSC00676.jpg');">
                <span class="badge bg-dark">Hiking</span>
                <span class="badge bg-warning">Medium</span>
            </div>
            <div class="card-body">
                <div class="card-row">
                    <h5 class="card-title">Säntis via Lisengrat</h5>
                    <div class="card-rating">
                        <span class="material-icons">grade</span>
                        <p class="card-rating-num">4.8</p>
                    </div>
                </div>
                <div class="card-row mt-1">
                    <div class="card-detail-container">
                        <span class="me-2 material-icons">location_on</span>
                        <p class="card-details card-location">Appenzell, Switzerland</p>
                    </div>
                    <div class="card-detail-container">
                        <span class="me-2 material-icons">schedule</span>
                        <p class="card-details card-duration">Duration: 4h</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <div class="img card-img"
                style="background-image: url('https://images.unsplash.com/photo-1470104240373-bc1812eddc9f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');">
                <span class="badge bg-dark">Mountaineering</span>
                <span class="badge bg-danger">Expert</span>
            </div>
            <div class="card-body">
                <div class="card-row">
                    <h5 class="card-title">Matterhorn via Hörnli Ridge</h5>
                    <div class="card-rating">
                        <span class="material-icons">grade</span>
                        <p class="card-rating-num">4.8</p>
                    </div>
                </div>
                <div class="card-row mt-1">
                    <div class="card-detail-container">
                        <span class="me-2 material-icons">location_on</span>
                        <p class="card-details card-location">Zermatt, Switzerland</p>
                    </div>
                    <div class="card-detail-container">
                        <span class="me-2 material-icons">schedule</span>
                        <p class="card-details card-duration">Duration: 16h</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <div class="img card-img"
                style="background-image: url('https://images.unsplash.com/photo-1522527414937-8b7363e8701d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
                <span class="badge bg-dark">Mountaineering</span>
                <span class="badge bg-danger">Expert</span>
            </div>
            <div class="card-body">
                <div class="card-row">
                    <h5 class="card-title">Mont Blanc via Gouter</h5>
                    <div class="card-rating">
                        <span class="material-icons">grade</span>
                        <p class="card-rating-num">4.8</p>
                    </div>
                </div>
                <div class="card-row mt-1">
                    <div class="card-detail-container">
                        <span class="me-2 material-icons">location_on</span>
                        <p class="card-details card-location">Chamonix, France</p>
                    </div>
                    <div class="card-detail-container">
                        <span class="me-2 material-icons">schedule</span>
                        <p class="card-details card-duration">Duration: 2 days</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="card h-100">
        <div class="img card-img"
            style="background-image: url('https://images.unsplash.com/photo-1522527414937-8b7363e8701d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <span class="badge bg-dark">Mountaineering</span>
            <span class="badge bg-danger">Expert</span>
        </div>
        <div class="card-body">
            <div class="card-row">
                <h5 class="card-title">Mont Blanc via Gouter</h5>
                <div class="card-rating">
                    <span class="material-icons">grade</span>
                    <p class="card-rating-num">4.8</p>
                </div>
            </div>
            <div class="card-row mt-1">
                <div class="card-detail-container">
                    <span class="me-2 material-icons">location_on</span>
                    <p class="card-details card-location">Chamonix, France</p>
                </div>
                <div class="card-detail-container">
                    <span class="me-2 material-icons">schedule</span>
                    <p class="card-details card-duration">Duration: 2 days</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card h-100">
        <div class="img card-img"
            style="background-image: url('https://images.unsplash.com/photo-1522527414937-8b7363e8701d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <span class="badge bg-dark">Mountaineering</span>
            <span class="badge bg-danger">Expert</span>
        </div>
        <div class="card-body">
            <div class="card-row">
                <h5 class="card-title">Mont Blanc via Gouter</h5>
                <div class="card-rating">
                    <span class="material-icons">grade</span>
                    <p class="card-rating-num">4.8</p>
                </div>
            </div>
            <div class="card-row mt-1">
                <div class="card-detail-container">
                    <span class="me-2 material-icons">location_on</span>
                    <p class="card-details card-location">Chamonix, France</p>
                </div>
                <div class="card-detail-container">
                    <span class="me-2 material-icons">schedule</span>
                    <p class="card-details card-duration">Duration: 2 days</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>