<div style="height: 100vh;" class="container d-flex flex-column justify-content-center align-items-center">
    <img class="error-img mb-5" src="/images/404.svg" alt="Page not found">
    <h2 class="mb-3">Whooops! Lost in the mountains?</h2>
    <p class="mb-1">The page you're looking for isn't found :(</p>
    <p class="mb-4">We suggest you back to the mountain hut</p>
    <a href="/" class="btn bg-ph-primary pt-3 pb-3 ps-5 pe-5">Back to the mountain hut</a>
</div>