<div class="home-header">
    <div class="container">
        <div class="home-form-container">
            <h1>Explore mountain routes nearby</h1>
            <form action="/routes" class="mt-5">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="peak" placeholder="Matterhorn">
                    <label for="peak">Location</label>
                </div>
                <div class="form-floating mb-3">
                    <select name="sport" class="form-select" id="floatingSelect">
                        {{#each sportOptions as |sportOption|}}
                        {{option ../sport sportOption}}
                        {{/each}}
                    </select>
                    <label for="floatingSelect">Sport</label>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark p-2" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section id="sports">
    <div class="container">
        <div class="text-center">
            <h2>Search by Sport</h2>
        </div>
        <div class="d-flex flex-row justify-content-between mb-5 mt-5">
            <div class="category-container d-flex flex-column align-items-center">
                <div onclick="location.href='#';" class="img category-img hiking-img"></div>
                <h5>Hiking</h5>
            </div>
            <div class="category-container d-flex flex-column align-items-center">
                <div onclick="location.href='#';" class="img category-img mountaineering-img"></div>
                <h5>Mountaineering</h5>
            </div>
            <div class="category-container d-flex flex-column align-items-center">
                <div onclick="location.href='#';" class="img category-img ski-img"></div>
                <h5>Ski</h5>
            </div>
            <div class="category-container d-flex flex-column align-items-center">
                <div onclick="location.href='#';" class="img category-img climbing-img"></div>
                <h5>Climbing</h5>
            </div>
            <div class="category-container d-flex flex-column align-items-center">
                <div onclick="location.href='#';" class="img category-img mtb-img"></div>
                <h5>Mountain biking</h5>
            </div>
        </div>
    </div>
</section>

<section id="trending">
    <div class="container">
        <div class="text-center">
            <h2>Trending locations</h2>
            <div class="row locations-container mt-5" style="height: 500px;">
                <div class="col-5">
                    <div onclick="location.href='#';" class="img location-img chamonix-img">
                        <h4>Chamonix, France</h4>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-between" style="height: 500px;">
                    <div onclick="location.href='#';" class="img location-img valais-img" style="height: 240px;">
                        <h4>Valais, Switzerland</h4>
                    </div>
                    <div class="row locations-container d-flex" style="height: 240px;">
                        <div class="col-6">
                            <div onclick="location.href='#';" class="img location-img dolomites-img"
                                style="height: 100%;">
                                <h4>Dolomites, Italy</h4>
                            </div>
                        </div>
                        <div class="col-6">
                            <div onclick="location.href='#';" class="img location-img bern-img" style="height: 100%;">
                                <h4>Bern, Switzerland</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>