<div class="home-header">
    <div class="row">
        <div class="home-form-container">
            <h1>Explore mountain routes nearby</h1>
            <form action="#" class="mt-5">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="peak" placeholder="Matterhorn">
                    <label for="peak">Location</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Hiking</option>
                        <option value="1">Mountaineering</option>
                        <option value="2">Climbing</option>
                        <option value="3">Mountain biking</option>
                    </select>
                    <label for="floatingSelect">Sports</label>
                </div>
                <div class="d-grid gap-2">
                  <button class="btn btn-dark p-2" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>