@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Colors */
::selection {
    background: #ffdc00;
  }
p, h1, h2, h3, h4, h5, h6 {
    color: #202930;
}
.bg-ph-dark {
    background-color: #202930;
    color: white;
}
.ph-primary {
    color: #5171F1;
}
.bg-ph-primary {
    background-color: #5171F1;
    color: white;
}
.bg-ph-dark:hover, .bg-ph-primary:hover {
    color: white;
}
.ph-secondary {
    color: #F8A931;
}
.bg-ph-secondary {
    background-color: #F8A931;
}
.ph-tertiary {
    color: #DAEFFF;
}
.bg-ph-tertiary {
    background-color: #DAEFFF;
}
.blur-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(218,239,255,0.76);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

/* Font size */
h1 {
    font-weight: 900;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
h4 {
    font-weight: 600;
}
h5 {
    font-size: 18px;
    font-weight: 600;
}

  /* Navbar */
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
    width: 100%;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0);
}
.navbar-brand {
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
}
.navbar li, .user-area, a {
    font-size: 16px;
}
.navbar button {
    margin-left: 20px;
}
.user-area {
    display: flex;
    align-items: center;
}

/* Home */
/* Header */
.home-header {
    height: 600px;
    margin-bottom: 150px;
}
.home-header {
    padding-top: 130px;
}
.header-bg {
    width: 100%;
    height: 500px;
    background-image: url('/images/home-bg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.header-container {
    padding: 60px 60px 0 100px;
}
.header-container h1 {
    font-size: 72px;    
    margin-top: 50px;
    max-width: 300px;
}
.no-gutter>[class^="col-"]{
    padding-left: 0;
    padding-right: 0;
}
.header-container .form-container {
    margin-top: 70px;
    width: 620px;
}
.form-container {
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.form-container button {
    height: 100%;
    width: 100%;
}
.hero-img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position-x: -500px;
    background-position-y: -100px;
    background-image: url('/images/home-bg.jpg');
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* Other home sections */
section {
    padding-top: 60px;
    padding-bottom: 30px;
}
.img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}
.img:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.category-img {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}
.location-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    cursor: pointer;
}
.location-img h4 {
    color: white;
}
.chamonix-img {
    background-image: url('https://images.unsplash.com/photo-1591942397307-78802c663e6c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
}
.valais-img {
    background-image: url('https://images.unsplash.com/photo-1575038013621-e951916548e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
}
.dolomites-img {
    background-image: url('https://images.unsplash.com/photo-1556653922-ca7aa575c39f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
}
.bern-img {
    background-image: url('https://images.unsplash.com/photo-1603979649806-5299879db16b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');
}



/* List */
.list-container {
    margin-top: 140px;
}
.form-container a {
    color: #888888;
    text-decoration: none;
    font-size: 14px;
}

/* Card */
.route-card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.route-card-img {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}
.route-card-rating {
    background-color: #FFF5DA;
    height: fit-content;
    padding: 4px 10px 4px 10px;
    border-radius: 15px;
}
.route-card-rating p, .route-card-rating i {
    color: #f8c303;
    font-size: 14px;
}
.route-card-details>div {
    margin-bottom: 7px;
}
.route-card-details p, .route-card-details i {
    font-size: 14px;
    color: #888888;
}
.route-card-details>.badge {
    padding: 10px;
    font-weight: 500;
}

.main-img {
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
} 
.action-label {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: fit-content;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
}
.content-container {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-right: 40px;
}
.content-container h3 {
    margin-bottom: 20px;
}
.content-container p {
    text-align: justify;
}
.details-container {
    margin-top: 60px;
    border-radius: 10px;
    border: 1px solid #a4a4a48f;
    padding: 20px;
    text-align: left;
}

/* Badge colors */
.hiking-badge {
    background-color: #D9E9D7;
    color: #50744d;
}
.mountaineering-badge {
    background-color: #E0D4FF;
    color: #005541;
}
.climbing-badge {
    background-color: #E9E9E9;
    color: #313131;
}
.ski-badge {
    background-color: #0057FF;
    color: #DDE4FF;
}
.mtb-badge {
    background-color: #FFF1DB;
    color: #624C00;
}


/* Rating */

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 