@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background: #ffdc00;
  }

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 99999;
    background-color: white;
  }

.navbar-brand {
    font-weight: 700;
}

.navbar button {
    margin-left: 20px;
}

.home-header {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1544198365-f5d60b6d8190?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-form-container {
    background-color: white;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 85px 4px rgba(0,0,0,0.47);
-webkit-box-shadow: 10px 10px 85px 4px rgba(0,0,0,0.47);
-moz-box-shadow: 10px 10px 85px 4px rgba(0,0,0,0.47);
}

h1 {
    font-size: 38px;
    font-weight: 700;
}
h2 {
    font-weight: 700;
}
h4 {
    font-weight: 600;
}
h5 {
    font-size: 18px;
    font-weight: 600;
}

input {
    height: 60px;
}

section {
    padding-top: 60px;
    padding-bottom: 30px;
}

.category-container {
    width: fit-content;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.category-img {
    height: 300px;
    width: 220px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 15px;
    cursor: pointer;
}

.category-img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.location-img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ski-img {
    background-image: url('https://images.unsplash.com/photo-1565992441121-4367c2967103?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80');
}
.climbing-img {
    background-image: url('https://images.unsplash.com/photo-1524786842735-a4096ed01353?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
}
.hiking-img {
    background-image: url('https://images.unsplash.com/photo-1501554728187-ce583db33af7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
}
.mountaineering-img {
    background-image: url('https://images.unsplash.com/photo-1597251000118-e702d0828392?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
    background-size: 200%;
}
.mtb-img {
    background-image: url('https://images.unsplash.com/photo-1574117482334-14b040604998?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80');
}

.location-img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    cursor: pointer;
}
.location-img h4 {
    color: white;
}

.chamonix-img {
    background-image: url('https://images.unsplash.com/photo-1591942397307-78802c663e6c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
}
.valais-img {
    background-image: url('https://images.unsplash.com/photo-1575038013621-e951916548e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
}
.dolomites-img {
    background-image: url('https://images.unsplash.com/photo-1556653922-ca7aa575c39f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
}
.bern-img {
    background-image: url('https://images.unsplash.com/photo-1603979649806-5299879db16b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');
}

.routes-banner {
    background-image: url('https://images.unsplash.com/photo-1593245394126-6b01cc3967f6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 200px;
    height: 350px;
}

.routes-banner h2 {
    color: white;
}

.search-filter {
    background-color: white;
    margin-top: 90px;
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10px 30px 10px;
}

.card {
    border: none;
}

.card-img {
    height: 200px;
    padding: 15px;
}
.badge {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

.author-img {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-row {
    display: flex;
    justify-content: space-between;
}
.card-rating {
    display: flex;
}
.card-rating .material-icons {
    margin-right: 5px;
    font-size: 20px;
}
.card-rating-num {
    font-size: 16px;
    font-weight: 500;
}
.card-title {
    margin-right: 15px;
}
.card-detail-container {
    display: flex;
    justify-content: flex-start;
}
.card-detail-container .material-icons {
    font-size: 20px;
    color: grey;
}
.card-details {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}