@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html * {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 99999;
    background-color: white;
  }

.navbar-brand {
    font-weight: 700;
}

.navbar button {
    margin-left: 20px;
}

.home-header {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1544198365-f5d60b6d8190?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-form-container {
    background-color: white;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 85px 4px rgba(0,0,0,0.47);
-webkit-box-shadow: 10px 10px 85px 4px rgba(0,0,0,0.47);
-moz-box-shadow: 10px 10px 85px 4px rgba(0,0,0,0.47);
}

h1 {
    font-size: 38px;
    font-weight: 700;
}
h2 {
    font-weight: 700;
}

input {
    height: 60px;
}

section {
    padding-top: 60px;
    padding-bottom: 30px;
}

.category-container {
    width: fit-content;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.category-img {
    height: 300px;
    width: 220px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 15px;
    cursor: pointer;
}

.category-img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ski-img {
    background-image: url('https://images.unsplash.com/photo-1565992441121-4367c2967103?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80');
}
.climbing-img {
    background-image: url('https://images.unsplash.com/photo-1524786842735-a4096ed01353?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
}
.hiking-img {
    background-image: url('https://images.unsplash.com/photo-1501554728187-ce583db33af7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
}
.mountaineering-img {
    background-image: url('https://images.unsplash.com/photo-1597251000118-e702d0828392?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
    background-size: 200%;
}
.mtb-img {
    background-image: url('https://images.unsplash.com/photo-1574117482334-14b040604998?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80');
}