	<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
                    
	                <h2>Forgot your password?</h2>
	                <p>Change your password in three easy steps. This will help you to secure your password!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
	                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
	                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
	                </ol>
	            </div>
	            <form class="mb-6" method="post">
              <div class="form-group">
                <label class="form-label" for="email">
                  Email Address
                </label>
                <input type="text" name="email" autofocus class="form-control" id="email" placeholder="name@address.com">
              </div>
              <button class="btn w-100 btn-primary" type="submit">
                Reset Password
              </button>
            </form>
	        </div>
	    </div>
	</div>





