<div class="container" style="margin-top: 150px;">

    <form method="POST" action="/register">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
            <p>{{errors.email}}</p>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
            <p>{{errors.password}}</p>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-1">Register</button>
        <hr>


    </form>

   
    <a class="btn btn-primary btn-block" href="/login">Login</a>

</div>