







            <form method="post" class="mb-6">
              <!-- Email -->
              <div class="form-group">
                <label class="form-label" for="password">
                  New Password
                </label>
                <input type="password" name="password" value=''  class="form-control" id="" autofocus=true placeholder="New Password">
              </div>
              <div class="form-group">
                <label class="form-label" for="confirm">
                  Confirm Password
                </label>
                <input type="password" name="confirm" value=''  class="form-control" id="" autofocus=true placeholder="Confirm password">
              </div>
              <!-- Submit -->
              <button class="btn w-100 btn-primary" type="submit">
                Update Password
              </button>
            </form>
